<mat-toolbar color="primary">
  <img src="assets/brain.svg" alt="Brain icon" class="app-icon" />
  Muse EEG NeuroKnesis
  <span class="header-fill"></span>
  <span [hidden]="!(batteryLevel|async)" class="battery-level-indicator">
    <mat-icon>battery_std</mat-icon>{{batteryLevel|async|number:"1.0-0"}}%
  </span>
  <mat-icon *ngIf="connected" (click)="disconnect()" title="Disconnect">bluetooth_connected</mat-icon>
</mat-toolbar>
<section>
  <mat-card *ngIf="!connected">
    <button *ngIf="!connecting" mat-raised-button color="primary" (click)="connect()">
      <mat-icon>bluetooth</mat-icon>
      Connect
    </button>
    <div *ngIf="!connecting" class="connection-options">
      <mat-checkbox [(ngModel)]="enableAux">
        Enable Auxilary Electrode
      </mat-checkbox>
    </div>
    <div *ngIf="connecting">
      Connecting...
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
  </mat-card>
  <mat-card *ngIf="data">
    <mat-card-title>Live EEG Plot</mat-card-title>
    <mat-card-content>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-6">
          <div class="card card-stats">
            <div class="card-header card-header-warning card-header-icon">
              <div class="card-icon">
                <i class="material-icons">content_copy</i>
              </div>
              <p class="card-category">Used Space</p>
              <h3 class="card-title">1/4
                <small>GB</small>
              </h3>
            </div>
            <div class="card-footer">
              <div class="stats">
                <i class="material-icons text-success">audiotrack</i>
                <a href="javascript:void(0)">Get More Space...</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <app-time-series [data]="data" [enableAux]="enableAux"></app-time-series>
    </mat-card-content>
  </mat-card>

  

  <mat-card *ngIf="data">
    <mat-card-title>Recording</mat-card-title>
    <mat-card-content>
      <app-recorder [data]="data"></app-recorder>
    </mat-card-content>
  </mat-card>
<!--   <mat-card *ngIf="connected">
    <app-headset-info [controlResponses]="controlResponses"></app-headset-info>
  </mat-card> -->
</section>
