<!-- <section class="time-series" [ngClass]="{ 'loading': !amplitudes }">
    <article class="time-series-channel" *ngFor="let canvas of canvases, let i = index">
        <aside class="time-series-control">
            <div class="time-series-number"
                [ngStyle]="{ 'background': colors[i].borderColor }">
                {{ channelNames[i] }}
            </div>
        </aside>
        <canvas class="time-series-canvas"></canvas>
        <aside class="time-series-amplitude"
            [ngStyle]="{ 'background': colors[i].borderColor }">
             
            {{ uVrms[i].toFixed(1) }} uVrms
             
            
        </aside>
        
    </article>
    
    <div class="graph-settings">
      <mat-checkbox [(ngModel)]="filter">Filter</mat-checkbox>
    </div>

    <div class="graph-settings">
      Amplitude Scale : <mat-slider [(ngModel)]="amplitudeScale" min="5" max="1500" step="10"></mat-slider> {{amplitudeScale}} uV
      Time Scale : <mat-slider [(ngModel)]="timeScale" min="2" max="16" step="1"></mat-slider> {{timeScale}}
    </div>
</section> -->

<!--  {{ uVrms[i].toFixed(1) }} uVrms and  {{ uMeans[i].toFixed(1) }} uMeans 
 {{ avgBandPowers[i].toFixed(1) }} avgBandPowers 
 {{ uV[i].toFixed(1) }} uV 
 {{ uVrms[i].toFixed(1) }} uVrms and {{ uV[i].toFixed(1) }} uV  -->
